
\.directory

hdiv

~.o
src/create_index\.o

src/generate_parameters\.o

src/main\.o

src/matrix_constructions\.o

src_py/matrix-A\.dat

src_py/matrix-A\.dat\.info

src_py/vector-x\.dat

src_py/vector-x\.dat\.info

src_py/vector-y\.dat

src_py/vector-y\.dat\.info

src/\.Rhistory

src_py/rect_mesh\.mat

*.mat

*.png
